*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: justify;
    padding: 0px;
}

.container-header {
    color: white;
    background-color: #01204C;
}

.container-header a {
    cursor: pointer;
    color: #3AA3FC;
    text-decoration: none;
}

.container-body p {
    line-height: 1.6;
    text-align: justify;
}


h4 {
    display: inline;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Pequeno movimento para dar um efeito mais suave */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.box-models {
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out !important;
    animation: fadeIn 1s ease-out;
}

.box-models:hover {
    transform: scale(1.03) !important;
}

.box-models{
    padding: 1rem;
    background: linear-gradient(to right, #ffffff 20%, #e0dcff 80%);
    width: 590px;
    height: 450px;
    box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.233);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    
    
    & h1{
        text-align: center;
        margin-bottom: 0.9rem;
    }

    & img{

        height: auto;
        width: 160px;
        margin: 1.5rem auto; 
    }
}
#boxmodel1 {
    background: linear-gradient(to right, #ffffff 20%, #E1F6FF 80%);
}

#boxmodel2 {
    background: linear-gradient(to bottom, #ffffff 20%, #FFFAD4 80%);
}

#boxmodel3 {
    background: linear-gradient(45deg, #ffffff 20%, #E3FFE1 80%);
}
#boxmodel4 {
    background: linear-gradient(45deg, #ffffff 20%, #FFE1E1 80%);
}
@media (max-width: 950px) {
    .box-models{
        display: flex;
        flex-direction: column;
        width: 300px !important;

    }
}

.buttons-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    margin: 0 auto;
    
}
.buttons-infos button:hover {
    border: 1px solid #047CE0;
    color: #047CE0;
}

.buttons-infos button{
    font-family: 'Mada';
    font-size: 13px;
    padding: 8px 12px;
    border: 2px solid #b3b3b3;
    color: #7d7d7d;
    background-color: transparent;
    font-weight: 600;
    border-radius: 12px;
    width: 99px;
    cursor: pointer;
}

#acessar{
    font-family: 'Mada';
    font-size: 13px;
    padding: 8px 12px;
    border: 2px solid #047CE0;
    color: #047CE0;
    background-color: transparent;
    font-weight: 600;
    border-radius: 18px;
    width: 99px;

}

.cadeira-monitoria{   
    width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 2rem auto;
    align-items: center;
}

@media (max-width:1100px){
    .cadeira-monitoria{
        padding: 0 3rem;
    }
}

@media (max-width:550px){
    .cadeira-monitoria{
        padding: 0 2rem;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Pequeno movimento para dar um efeito mais suave */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 1025px) {
    .container-header {
        padding: 50px 60px;
    }

    .container-header h2 {
        font-size: 50px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .container-header h3 {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .container-header p {
        font-size: 16px;
        font-weight: normal;
    }

    .container-body {
        padding: 50px 60px;
    }

    .container-body p {
        font-size: 20px;
    }
    .box-models {
        width: 100%;
    }
    .cadeira-monitoria {
        width: 80%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    
    
    .cadeira-monitoria {
        width: 100px !important;
        display: flex;
        flex-direction: column;

    }
    .box-models {
        word-wrap: none;
    }
    .container-header {
        padding: 20px 70px;
    }

    .container-header h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .container-header h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .container-header p {
        font-size: 9px;
        font-weight: normal;
    }

    .container-body {
        padding: 20px 50px;
    }

    .container-body p {
        font-size: 14px;
        text-indent: 2em;
    }
    & h1 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {

    .box-models {
        height: 480px;
    }
    & h1 {
        font-size: 1.2rem;
    }

    .cadeira-monitoria {
        width: 100px !important;
        display: flex;
        flex-direction: column;

    }
    .container-header {
        padding: 20px 40px;
    }
  
    .container-header h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
  
    .container-header h3 {
        font-size: 10px;
        margin-bottom: 10px;
    }
  
    .container-header p {
        font-size: 5px;
        font-weight: normal;
    }
  
    .container-body {
        padding: 20px 40px;
    }
  
    .container-body p {
        font-size: 10px;
        text-indent: 2em;
    }
    .container-body p {
        line-height: 1.6;
        text-align: justify;
    }
  }
  @media screen and (max-width: 768px) {
    h4 {
        font-size: 0.8rem;
    }
}
  