*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: justify;
    padding: 0px;
}

.container-header {
    color: white;
    background-color: #01204C;
}

.container-header a {
    cursor: pointer;
    color: #3AA3FC;
    text-decoration: none;
}

.container-body p {
    line-height: 1.6;
    text-align: justify;
}

h4 {
    display: inline;
}

.path-text{
    display: flex;
    font-weight: 400;
    gap: 5px;
    font-size: 20px;

    & h4{
        font-weight: 400;
    }
    & a{
        color: rgb(70, 101, 221);
        text-decoration: none;
    }
    
    & a:hover{
        color: rgb(74, 167, 224);
    }
}

.main-box{
    background-color: rgb(0, 19, 65);
    color: white;
    font-family: 'Mada';
    padding: 3rem 5rem;
    margin: auto;
    & h1{
        font-weight: 700;
        font-size: 55px;
    }
    & h2{
        font-weight: 400;
        font-size: 38px;
        margin-bottom: 5px;
    }
}

.box-models {
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out !important;
}

.box-models:hover {
    transform: scale(1.03) !important;

}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Pequeno movimento para dar um efeito mais suave */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.textos{
    font-family: 'Mada';
    font-weight: 500;
    gap: 5px;
    height: 50%;
    width: 100%;
    padding: 3rem 5rem;
    font-size: 22px;
    & h4{
        font-weight: 400;
    }
}
@media screen and (min-width: 1025px) {
    .container-header {
        padding: 50px 60px;
    }

    .container-header h2 {
        font-size: 50px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .container-header h3 {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .container-header p {
        font-size: 16px;
        font-weight: normal;
    }

    .container-body {
        padding: 50px 60px;
    }

    .container-body p {
        font-size: 20px;
    }
}
@media (max-width:500px){
    .textos{
        padding: 1rem 3rem;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .container-header {
        padding: 20px 70px;
    }

    .container-header h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .container-header h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .container-header p {
        font-size: 9px;
        font-weight: normal;
    }

    .container-body {
        padding: 20px 50px;
    }

    .container-body p {
        font-size: 14px;
        text-indent: 2em;
    }
}

.noticias{
    flex-direction: column;
    padding: 1rem 15rem;
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

@media (max-width:1100px){
    .noticias{
        padding: 0 3rem;
    }
}

@media (max-width:550px){
    .noticias{
        padding: 0 2rem;
    }
}

.box-models{
    background-color: rgb(255, 255, 255);
    height: auto;
    margin: auto;
    box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.233);
    display: flex;
    align-items: center;
    border-radius: 18px;

    & img{
        padding: 1em;
        height: auto;
        width: 200px;
    }
}

@media (max-width: 950px) {
    .box-models{
        flex-direction: column;
    }
}

.texts-content{
    background-color: rgb(6,11,63);
    border-radius: 0 18px 18px 0;
    color: white;
    padding: 1.5em 2em;
    font-family: 'Mada';
    display: flex;
    flex-direction: column;
    gap: 9px;
    & h1{
        font-size: 24px;
    }
    & h4{
        font-size: 16px;
        font-weight: 400;
    }
    & p{
        font-size: 16px;
        font-weight: 400;
    }
    & button{
        font-family: 'Mada';
        display: block;
        margin-left: auto;
        width: 116px;
        height: 35px;
        background-color: rgb(6,11,63);
        font-size: 15px;
        font-weight: 550;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
        cursor: pointer;
    }
    & button:hover{
        background-color: white;
        border: 2px solid white;
        color:rgb(6,11,63) ;
    }
}
@media (max-width:950px){
    .texts-content{
        background-color: rgb(6,11,63);
        border-radius: 0 0 18px 18px;
    }
}
@media screen and (max-width: 768) {
    p {
        font-size: 10px;
    }
}
@media screen and (max-width: 600px) {
    .container-header {
        padding: 20px 40px;
    }
  
    .container-header h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
  
    .container-header h3 {
        font-size: 10px;
        margin-bottom: 10px;
    }
  
    .container-header p {
        font-size: 5px;
        font-weight: normal;
    }
  
    .container-body {
        padding: 20px 40px;
    }
  
    .container-body p {
        font-size: 10px;
        text-indent: 2em;
    }
    .container-body p {
        line-height: 1.6;
        text-align: justify;
    }
  }

