*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: justify;
    padding: 50px;
}

.caminho{
    display: flex;
    font-weight: 400;
    gap: 5px;
    font-size: 20px;

    & h4{
        font-weight: 400;
    }
    & a{
        color: rgb(70, 101, 221);
        text-decoration: none;
    }
    
    & a:hover{
        color: rgb(74, 167, 224);
    }
}

.caixa-principal{
    background-color: rgb(0, 19, 65);
    color: white;
    font-family: 'Mada';
    padding: 3rem 5rem;
    & h1{
        font-weight: 700;
        font-size: 55px;
    }
    & h2{
        font-weight: 400;
        font-size: 38px;
        margin-bottom: 5px;
    }
}

.textos{
    font-family: 'Mada';
    font-weight: 500;
    gap: 5px;
    height: 50%;
    width: 100%;
    padding: 3rem 5rem;
    font-size: 22px;
    & h4{
        font-weight: 400;
    }
}

.noticias{
    flex-direction: column;
    padding: 0 3em;
    display: flex;
    gap: 40px;
}

.box-models{
    background-color: rgb(255, 255, 255);
    width: 73%;
    height: auto;
    margin: auto;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.329);
    display: flex;
    align-items: center;
    border-radius: 18px;

    & img{
        padding: 1em;
        width:200px;
        height:200px;
    }
}

.texts-content{
    background-color: rgb(6,11,63);
    border-radius: 0 18px 18px 0;
    color: white;
    padding: 2em;
    & h1{
        font-size: 24px;
        margin-bottom: 9px;
    }
    & h4{
        font-size: 16px;
        font-weight: 400;
    }
}

