body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.background {
    background-color: #01204C;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Classe da imagem do texto PETComp abaixo do header */
.text-container1 {
    & img {
        width: 45%;
        height: auto;
    }
}

.petianos-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.noticias-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 2rem;
}

.noticias-container img {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Sombra sutil */
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-container {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    animation: fadeIn 1s ease-out;
    margin: 0.5rem
}

.central-img {
    width: 100%;
    height: auto;
    max-width: 700px;
    min-width: 700px;
    max-height: 500px;
    min-height: 500px;
    animation: fadeIn 1s ease-out;
}

.lateral-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    max-width: 350px;
    min-width: 350px;
    min-height: 240px;
    max-height: 240px;
    animation: fadeIn 1.2s ease-out;
}

#center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.col-12, .col-md-6, .col-md-3 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.col-md-6 {
    flex: 0 0 40%;
    margin-right: 1rem;
}

.col-md-3 {
    flex: 0 0 20%;
}

.ultimasnoticiastext {
    font-family: 'Alatsi';
    text-align: center;
    margin-top: 2rem;
    color: #01204C;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.ultimasnoticiastext h1 {
    font-size: 3.75rem;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.central-title, .lateral-title {
    position: absolute;
    bottom: 20px;
    left: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(1, 32, 76, 0.6);
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

@keyframes titleSlide {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.lateral-title {
    font-size: 14px;
    animation: titleSlide 1s ease-out;
}

.central-title {
    font-size: 20px;
    animation: titleSlide 1.2s ease-out;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.06);
    opacity: 0.9;
    cursor: pointer;
}

.image-container:hover .central-title,
.image-container:hover .lateral-title {
    transform: scale(1.06);
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
    & img {
        width: 85%;
        height: auto;
    }
}

.noticia {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.noticia.fade-out {
    opacity: 0;
    transform: translateX(50px);
}

.noticia.fade-in {
    opacity: 1;
    transform: translateX(0);
}
.minifundo {
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
    height: 20vh; /* Define a altura para 100% da altura da janela de visualização */
    padding: 0;  /* Remove qualquer padding */
    margin: 0;   /* Remove margens */
    position: relative; /* Permite usar z-index para sobrepor elementos */
}

.background-img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura da div */
    height: 100%; /* Faz com que a imagem ocupe toda a altura da div */
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */
    position: absolute; /* Permite que a imagem fique atrás do texto */
    top: 0;
    left: 0;
    z-index: 0; /* Garante que a imagem fique atrás do texto */
}

.minifundo h2 {
    color: white; /* Cor do texto para contraste */
    font-size: 5rem; /* Tamanho do texto */
    position: absolute; /* Permite posicionar o texto sobre a imagem */
    top: 20px; /* Posiciona o texto no topo */
    left: 50%; /* Centraliza o texto horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição horizontalmente para centralizar */
    z-index: 1; /* Garante que o texto fique sobre a imagem */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Adiciona um pouco de padding ao texto */
    font-family: 'Mada';
    font-weight: bold;
}
.minifundo {
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
    height: 75vh; /* Define a altura para 100% da altura da janela de visualização */
    padding: 0; /* Remove qualquer padding */
    margin: 0; /* Remove margens */
    position: relative;
    
}

.background-img {
    /* width: 100%; */
    height: 100%; /* Faz com que a imagem ocupe toda a altura da div */
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */
    position: absolute; /* Faz com que a imagem seja o plano de fundo */
    top: 0;
    left: 0;
    z-index: 0; /* Garante que o fundo fique atrás de outros elementos */
}

.minifundo h2,
.minifundo ul {
    position: relative; /* Coloca esses elementos na frente do fundo */
    z-index: 1; /* Garante que fiquem acima do plano de fundo */
}

.minifundo ul {
    display: flex; /* Organiza as imagens em linha */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 100px; /* Adiciona espaço entre os itens */
    list-style: none; /* Remove marcadores padrão da lista */
    padding: 0; /* Remove o padding padrão */
    margin-top: 5rem; /* Adiciona espaço acima da lista */
    margin-bottom: 0px;
    align-items: center;
}
.carousel-image {
    height: 400px; /* Altura fixa */
    object-fit: cover; 
    /* width: 100%; */
    margin-top: 0;
}
.minifundo ul li img {
    width: 200px; /* Define o tamanho das imagens */
    height: 200px; /* Define o tamanho das imagens */
    object-fit: contain; /* Ajusta a proporção sem distorcer */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona animações suaves */
    cursor: pointer; /* Indica que as imagens são interativas */
    padding: 2rem;
    border-radius: 85px;
}

.minifundo ul li {
    border: 7px solid white;
    border-radius: 150px;
    padding: 0.6rem;
}

.swiper-slide {

    margin: 0;
    padding: 0;
    
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100vw;
    height: 30vw;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .swiper-slide img {
        width: 100vw;
        height: 30vw;
        object-fit: cover;
        filter: brightness(30%);
    }
    .text-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        z-index: 1;
    }
    .text-container1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        color: white;
        z-index: 1;
    }
    
    .secundary-text {
        font-size: 2vw;
        max-width: 80%;
    }
    
  .swiper button {
    width: 50px;
    height: 50px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    transition: opacity 0.25s;
  }
  .text-carousel {
    font-size: 4vw;
    font-family: 'Mada';
    font-weight: bold;
}


  .swiper button:hover {
    opacity: 0.8;
  }

  .swiper button::before,
  .swiper button::after {
    font-size:24px;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 20px;
    height: 20px;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
.minifundo ul li img:hover {
    transform: scale(1.1); /* Amplia levemente a imagem ao passar o mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao passar o mouse */
}
.swiper-slide {
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit; /* Mantém a cor do texto */
}
.atividades {
    background-color: #000227;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    text-align: justify;
    padding: 3rem 1rem;
    align-items: center;
    justify-content: center;
}
.activities-card {
    display: flex;
    flex-direction: column;
    background-color: #001249;
    width: 250px;
    height: 250px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.activities-subtitle {
    font-family: 'Alatsi';
    color: #3AA3FC;
    font-size: 40px;
}
.activities img {
    align-items: center;
    width: 30px;
    height: 30px;
}
.activities-title {
    font-family: 'Alatsi';
    font-size: 70px;
    color: #fff;
    margin: 3rem;
}
.saibamaisbtn {
    height: 35px;
    width: 120px;
    border: 3px solid white;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: #001249;
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
}
.saibamaisbtn:hover {
    opacity: 1;
}
#podcast-card {
    margin-top: 1.4rem;
}
.final-text {
    font-family: 'Alatsi';
    font-size: 30px;
    word-break:normal;
    color: #fff;
    display: inline;
}
.text-card {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    width: 400px;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-all;
}
.main {
    max-width: 100vw !important;
    min-width: 100vw !important;
}
.lateral-img1 {
    display: none;
}


@media screen and (min-width: 769px) and (max-width: 1400px) {
    .row {
        flex-direction: column;
    }
    .noticias {
        display: flex;
        flex-direction: column;
    }
    .noticias-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        gap: 20px;
    }
    .minifundo {
        height: auto;
        padding: 1rem;
    }
    .central-img {
        min-width: 350px; 
        max-width: 350px;
        min-height: 240px;
        max-height: 240px;
    }
    .minifundo li {
        width: 7rem;
        height: 7rem;
    }
    .minifundoliimg img {
        width: 5rem !important;
        height: 5rem !important;
        padding: 0 !important;        
    }
    .text-carousel {
        font-size: 3vw; /* Ajusta o tamanho do texto para não ficar muito grande */
    }

    .secundary-text {
        font-size: 1.5vw;
        max-width: 70%;
    }
    
    .minifundo  {
        padding: 5rem;
        

        & ul {
            gap: 10rem;
        }

        & h2 {
            font-size: 3rem;
        }
    
    }


}
@media screen and (max-width: 768px) {
    .main {
        display: flex;
        -ms-flex-align: center;
        flex-direction: column;
        max-width: 100vw;
    }
    .noticias-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .petianos-container {
        width: 100vw;
        height: auto;
        display: block;
    }
    .petianos-container img {
        width: 100vw;
    }
    .noticias-container, .noticias-container img {
        padding: 0;
        margin: 0;
    }
    .noticias-container {
        width: 16rem;
        height: auto;
        display: block;
    }
    .noticias-container img {
        width: 16rem;
        height: auto;
        display: block;
    }
    .minifundo {
        height: auto;
        padding: 1rem;
    }
    .minifundo h2 {
        font-size: 1.6rem;
    }
    .minifundo li {
        width: 4rem;
        height: 4rem;
    }
    .minifundoliimg img {
        width: 2rem !important;
        height: 2rem !important;
        padding: 0 !important;        
    }

    .minifundo  {
        padding: 5rem;
        

        & ul {
            gap: 1.5rem;
        }

        & h2 {
            font-size: 1.15rem;
        }
    
    }
    .lateral-img {
        max-width: 350px;
        min-width: 350px;
        min-height: 240px !important;
        max-height: 240px !important;
        animation: fadeIn 1s ease-out;
    }
    .central-img{
        max-width: 350px !important;
        min-width: 350px !important;
        min-height: 240px !important;
        max-height: 240px !important;
        align-items: center;
        animation: fadeIn 1s ease-out;
    }
    .noticias {
        display: flex;
        padding: 4rem !important;
        flex-direction: column;
        align-items: center;
    }
    .central-title {
        font-size: 14px;
        animation: titleSlide 1s ease-out;
    }

    .image-container {
        margin-bottom: 1rem;
    }
    .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
      }


}
