/* .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    
} */

/* .title h1{
    font-family: 'Basic', sans-serif !important;
    color: #545457;
} */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
.title .stripe{
    background-color:rgba(30, 213, 253, 0.9);
    height: 3px;
    width: 50px;
    margin-top: 20px;
}
.container-header {
    color: white;
    background-color: #01204C;
    width: 100%;
}

.container-header a {
    cursor: pointer;
    color: #3AA3FC;
    text-decoration: none;
}

.container-body p {
    line-height: 1.6;
    text-align: justify;
}
.container-header {
    padding: 50px 60px;
}

.container-header h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container-header h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: normal;
}

.container-header p {
    font-size: 16px;
    font-weight: normal;
}

.container-body {
    padding: 50px 60px;
}

.container-body p {
    font-size: 20px;
    font-weight: medium;
}

h4 {
    display: inline;
}
.color {
    margin: 0;
    padding: 0;
    background-color: #000227;

}

.color h2 {
    color: white;
}
.integrantes{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin: 20px 10% 20px 10%;
    max-width: 100% !important;
}

.integrantes .tutores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.integrantes .discentes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*========================
 ######## Cards ########
=========================*/
.card {
    position: relative;
    width: 350px;
    height: 500px;
    max-width: 350px;
    min-height: 200px; /* Remover altura fixa */
    width: 100%; /* Deixar a largura flexível */

    padding: 1.5rem 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garantir que o conteúdo fique distribuído corretamente */
    margin: 5rem;
    background-color: #001249;
    border-radius: 2rem;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out !important;
    animation: fadeIn 1s ease-out;
  }

.sobre {
    padding: 1rem;
    flex-grow: 1; /* Permite que o conteúdo cresça conforme necessário */
    overflow-y: auto; /* Rolagem vertical para o texto longo */
    font-size: 14px;
    word-wrap: break-word;
    max-height: 100px; /* Defina uma altura máxima para evitar o transbordamento */
}
.sobre p {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sobre::-webkit-scrollbar {
    width: 8px;
}
.sobre::-webkit-scrollbar-thumb {
    background-color: #00B3FF;
    border-radius: 4px;
}
.sobre::-webkit-scrollbar-thumb:hover {
    background-color: #0086CC;
}

.card .job-img i{
    font-size: 15px;
    
}
.sobre-text {
    font-weight: light;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card .job-img{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 6px;
    bottom: 80px;
    left: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.card .job-img i{
    font-size: 25px;
}

.card .card-img{
    
    display: flex;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
    min-height: 140px;
    position: relative;
    margin: 0;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem;

}
.color {
    zoom: 75%;
}
.card .card-img figure{
    height: 100%;
    width: 100% ;
    margin: 0;
}

.card .card-img figure img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 200px;
}

.social-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.social-logo a { 
    text-decoration: none;
    color: inherit;
}

.card .card-img .card-btn {
    position: absolute;
    bottom: 10px;
    right: 8px;
    background-color: #01B4ED;
    /* padding: 2px; */
    width: 84px;
    height: 30px;   
    border: 1px solid #01B4ED;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.card .card-img .card-btn a {
    
    text-decoration: none;
    color: #fff;
}

.card .card-img .card-btn a i{
    margin-right: 5px;
}

.card .card-name {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto auto;
    margin-bottom: 1.5rem;

}

.card .card-name h3{

    font-family: 'Basic', sans-serif !important;
    font-size: 25px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 750;
}
.card .card-name h6{

    font-size: 20px;
    line-height: 15px;  
    color: #B1B1B1;

}
.sobre {

    padding: 1rem;
    max-height: 100px; /* Define uma altura fixa para o conteúdo rolável */
    overflow-y: auto; /* Permite rolagem vertical */
    text-overflow: ellipsis; /* Para cortar o texto que ultrapassa o limite */
    word-wrap: break-word; /* Quebra o texto longo em palavras */
    font-size: 14px; /* Ajuste do tamanho da fonte para caber melhor no card */

}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.ex .card img{
    -webkit-filter: grayscale(100%);
}
/*========================
 ######## Modal ########
=========================*/

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Basic', sans-serif;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target{

    opacity: 1;
    pointer-events: auto;
}

.modal > div{
    width: 600px;
    height: 500px;
    position: relative;
    margin: 5% auto;
    padding: 15px 20px;
    background: #EFEFEF;
    border-radius: 5px;
}
.modal .modal-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.modal .modal-figure{

    height: 200px;
    width: 200px;
}

.modal .modal-figure .modal-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.modal .modal-conteiner .modal-text{
    width: 100%;
    margin-left: 50px;
    font-size: 1.2rem;
}
.modal .modal-conteiner .modal-text span{
    font-weight: 400;
}
.modal a button{

    width: 80px;
    height: 28px;
    border: 2px solid #fff;
    background-color: #343564;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

.modal a button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #343564;
    border: 2px solid #343564;
}
.pagination {
    margin: 1rem 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* Estilo para o contêiner de paginação */

.pagination {
    display: -webkit-box;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    flex-wrap: wrap;
}

/* Estilo para cada item da paginação */
.page-item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 1rem;
}

/* Estilo para os links de cada item */
.page-link {
    
    position: relative;
    display: block;
    padding: 0.8rem 1rem;
    color: #ffffff;
    text-decoration: none;
    background-color:   #001249;
    border: 1px solid #001249;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Quando o link da paginação está em foco */
.page-link:focus {
    z-index: 2;
    color: #0056b3;
    background-color: #fff;
    border-color: #0056b3;
    outline: 0;
}

/* Quando o item da paginação está desabilitado */
/* Quando o item da paginação é o item ativo */
.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background: #24419b;
    border: 1px solid #24419b;
}
.hide {
    display: none;
}

.button-showmore {
    background-color: white;
    border: white;
    border-radius: 50px;
}
.button-showmore:hover {
    color: #00B3FF;
    cursor: pointer;
}
.expand {
    margin: 0 auto;
}

.popup {
    position: fixed; /* Sempre no centro da tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9); /* Inicia com escala menor */
    width: 80%; /* Largura fixa */
    max-width: 600px; /* Largura máxima */
    height: 50%; /* Ajuste a altura conforme necessário */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    display: none; /* Esconde inicialmente */
    z-index: 1000; /* Sempre acima do fundo */
    overflow: hidden; /* Impede que o conteúdo ultrapasse as bordas */
    opacity: 0; /* Invisível inicialmente */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animação suave */
    background: rgba(0, 2, 39, 0.95);
}

.section-header {

    margin-top: 120px;
  
    margin-bottom: 0px;
  
    position: relative;
  
    padding-bottom: 10px;
  
  }
  .section-header h2 {

    font-size: 36px;
  
    text-transform: uppercase;
  
    text-align: center;
  
    font-weight: 700;
  
    margin-bottom: 0px;
  
  }


/* Mostrar popup com transição */
.popup.show {
    display: block;
    opacity: 1; /* Torna visível */
    transform: translate(-50%, -50%) scale(1); /* Volta à escala normal */
}


.popup-content {
    padding: 20px;
    max-width: 600px;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 2rem 2rem;
    overflow-y: auto; /* Permite rolagem vertical se o conteúdo exceder a altura */
    max-height: calc(100% - 40px); /* Impede que o conteúdo ultrapasse a altura do popup */
    color: white;
}
.popup-content::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}
.popup-content::-webkit-scrollbar-thumb {
    background-color: #dedede; /* Cor da barra de rolagem */

}

.popup-content::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff; /* Cor da barra quando clicada */
}

/* Personaliza a parte "track" da barra de rolagem */
.sobre-text {

    margin: 1.5rem 1rem;
}
.sobre-name {
    margin-bottom: 1rem;
}
.popup-backdrop {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Esconde inicialmente */
    z-index: 999; /* Fica abaixo do popup */
}

.popup-backdrop.show {
    display: block;
}

/* Botão de fechar */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.social-logo i {
    margin: 10px;
    color: #f0f0f0;
    transition: color 0.3s;
    opacity: 0.8;
}

.social-logo i:hover {
    color: 1;
    color: white;
}
.popup {
    transform: translate(-50%, -40%) scale(0.9); /* Começa mais abaixo */
}

.popup.show {
    transform: translate(-50%, -50%) scale(1); /* Finaliza no centro */
}
.sabermais-text {
    border: 2px solid #B1B1B1;
    background-color: #001249; 
    color: #B1B1B1;
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 1rem;
}
.sabermais-text:hover {
    color: white;
}



/* Transição para o popup */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Pequeno movimento para dar um efeito mais suave */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Estilo para o ícone anterior e próximo (arrows) */
.page-link[aria-label="Previous"],
.page-link[aria-label="Next"] {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/* Estilo para o texto "Previous" e "Next" */
.sr-only {
    display: none;
}
header {
    position: relative;  /* ou fixed, dependendo da necessidade */
    z-index: 10;  /* valor alto para garantir que o header fique sobre outros elementos */
}
.btn-ativo {
    position: relative; 
    z-index: 1;  
}
.page-item :hover {
    background: linear-gradient(to right, #24419b, #24419b);
    border: 0 solid;
    color: white;
    
}
.lattes-icon img {
    size: 1rem;
}

body {
    background-color: #000227;
    width: 100%;
}

@media (max-width: 800px) {
  .modal > div {
    width: 90%;
  }

  .card {
    width: auto;
  }

  .card{
    width: 340px;
  }
  .pagination {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page-link[aria-label="Previous"],
.page-link[aria-label="Next"] {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.card .card-name h3 {
    font-size: 20px;
}
.card .card-name h6 {
    font-size: 10px;
}
.pagination {
    margin: 0.5rem auto;
}
}

@media screen and (max-width: 600px) {
    .container-header {
        padding: 20px 40px;
    }

    .container-header h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .container-header h3 {
        font-size: 10px;
        margin-bottom: 10px;
    }

}