.noticias{
    padding: 100px;
    padding-top: 40px;
    border:none;
    text-decoration: none;
    display:flex;
    flex-direction: column;
    font-size: 15px;
}

.resultados{
  text-align: center;
  padding-bottom: 16vh;
} 

.materia{
    display:flex;
    flex-direction: row;
    align-items: center;
    background: #eeeeee70;
    margin: 20px 0;
    padding: 15px;
}
.materia > img{
    width: 200px;
    height: 200px;
}
.textoMateria{
    display:flex;
    flex-direction: column;
    color: #888888;
    padding:20px;
    text-align: justify;
}

.textoMateria p {
  margin: 20px 0;
}
.botao{
    background: #33C3FF;
    width: 90px;
    height: 50px;
    font-family: Basic;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 35px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}



.botao a {
  color: #fff;
  text-decoration: none;
}
.botao a:visited {
    color: white;
}



@media (max-width:800px) {
  .noticias {
    margin-bottom: 20px;
    padding: 0;
    width: 90%;
  }

  .materia {
    flex-direction: column;
    margin: 20px;
    width: 100%;
  }
}